*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
    background: #fff;
    width: 100%;
    float: top;
    float: left;
    height: 46px;
}
.encabezado{
  display: flex;
  padding: 0 100px;
}

.icon{
  font-size: 20px;
  color: #66757F;
}
.twitter-icon span{
  color: #48AAE6;
}
#contenedor {
  height: 750px;
  width: 100%;
  padding: 0 117px;
  background: #F5F8FA ;
}
.iconos {
  padding: 0 50px;
}
input[type="text"] {
    width: 509px;
    border: 1px solid #48AAE6;
    border-radius: 4px;
    height: 39px;
}
input[placeholder] {
    color: #48AAE6;
    font-size: 15px;
    padding: 0 12px;
    /* background: red; */
}
.icon >span {
  font-family: "arial";
  font-weight: 500;
  font-size: 13px;

}
.menu {
  height: 38px;
  width: 33.33%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.encabezado img {
  width: 35px;
  height: 35px;
  border-radius: 20px;
}
.encabezado input[type="text"]{
  width: 224px;
  border-radius: 15px;
  background: #F5F8FA;
  border: 1px solid #EBF0F3;
  height: 36px;
}
.encabezado input[type="button"]{
  width: 104px;
  height: 33px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 13px;
  font-family: "Arial";
  font-weight: 500px;
  background: #48AAE6;
  border-radius: 10px;
}


.datos ,
.post ,
.seguir {
  height: 680px;
      width: 290px;
      float: left;
      overflow: auto;
      margin-left: 6px;
      margin-top: 10px;

}
#whatHappen{
  height: 61px;
  display: flex;
  margin-top: 0;
  align-items: center;
  background: #E8F4FB;
}
#perfil{
  position: relative;
      top: -25px;
      left: 10px;
      width: 60px;
      height: 60px;
      border-radius: 8px;
      border: 3px solid #fff;
      float: left;

}
#numero{
  padding-left: 27px;
}

.cantidad{
  display: inline-block;
  padding-left: 54px;
}

.seguidores{
  display: inline-block;
  color: gray;
  font-size: 12px;

}
.tendencia .seguidores {
  color: red
}
.info img{
  height: 100px;
  width: 100%;
  border-radius: 8px;
}
#quienSeguir , #condiciones ,.info , .tendenciasList{
  background: #fff;
  margin-bottom: 14px;
  border-radius: 8px;
}
#quienSeguir img {
  float: left;
  width: 48px;
  height: 48px;
}
#quienSeguir input{
  width: 92px;
  height: 26px;
  font-weight: bold;
  display: block;
}
#quienSeguir div {
width: 285px;
height: 61px;
}
#condiciones a{
  color: gray;
  text-decoration: none;
}

.info-twitter {
  display: inline-block;
  margin-left: 20px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}


.info-twitter{
  font-size: 16px;
  color: #000;
  font-weight: bold;
}
#tweets {
margin-left: -35px;
clear: left;
}
.tendencia{
  color: #48AAE6;
}
.tendenciasList {
	height: 440px;
	background: #fff;
}
.post{
  width: 591px;
}
.img-post{
  width: 50px;
	height: 50px;
	margin: 5px ;
	float: left;
	border-radius: 8px;
}
#imgPost {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  margin-right: 5px;
  margin-left: 20px;
}
.post div {
	margin: 5px;
	background: #fff;
	height: 100px;
}
.nickname{
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}
.away {
	display: inline-block;
	color: gray;

}

.tendenciasList .tendencia {
	margin-top: 10px;
}
.tendenciasList span {
	margin-left: 30px;
  display: block;
}

#cambiar{
	margin:0;
}
.icon-undo2 ,.icon-flame , .icon-heart {
	display: inline-block;
	margin-right: 50px;
	color: gray;
	margin-top:  12px;
}
